/* CSS to hide scrollbars */
.nav-scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.nav-scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
